<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @topic.name %>
</p>

<p>
  <b>Order:</b>
  <%= @topic.order %>
</p>

<p>
  <b>Video:</b>
  <%= @topic.video %>
</p>

<p>
  <b>Picture:</b>
  <%= @topic.picture %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
