
<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
  <% end %>

  <div id="changepw-form">
    <%= form_for @user, :url => cp_path(@current_user), :html => {:method => :put} do |f| -%>
      <% if @user.errors.any? %>
        <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
        </div>
      <% end %>
  <div class="box">

        <div class="label-field-pair">
          <div class="label-container"><label><%= t('new_password') %>:</label> </div>
          <div class="input-container"> <%= f.password_field :new_password %></div>
        </div>
        <div class="label-field-pair">
          <div class="label-container"><label><%= t('confirm_password') %>:</label> </div>
          <div class="input-container"><%= f.password_field :confirm_password %></div>
        </div>
  <%= f.submit "Update Password",:class=>'submit_button' %></div>
<% end %>
    </div>
  </div>
</div>